/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom class for About page using Tailwind and CSS variables */
.about-container {
    background-color: var(--background);
    color: var(--foreground);
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 16rem; /* Adjust width if needed */
  background-color: var(--background);
  height: 100%;
  overflow: auto;
  transition: transform 0.3s ease-in-out;
  z-index: 30;
  transform: translateX(-100%); /* Start hidden */
}

.sidebar.open {
  transform: translateX(0); /* Slide in when open */
}

.sidebar button {
  text-align: left;
  width: 100%;
  padding: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--foreground);
}

.sidebar button:hover {
  background-color: #f0f0f0;
}

/* Sidebar handle styles */
.sidebar-handle {
  position: fixed;
  top: 50%;
  left: 0;
  width: 10px;
  height: 40px;
  background-color: #007bff; /* Adjust color to match your theme */
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  z-index: 31; /* Higher than the sidebar z-index */
  transform: translateY(-50%); /* Center the handle vertically */
}

/* Style the handle on hover */
.sidebar-handle:hover {
  background-color: #0056b3; /* Slightly darker shade on hover */
}
